/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.nav-container {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: white;
}

.navbar-logo {
    font-size: 24px;
}

.ver-carrito {
    font-size: 30px;
    cursor: pointer;
}

/* Banner */
.banner {
    background-image: url('img/foto-banner.webp');
    background-size: cover;
    background-position: center;
    color: rgb(36, 34, 34);
    text-align: center;
    padding: 100px 0;
}

.banner-container {
    max-width: 800px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
}

/* styles.css */
.phone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: inline-block;
    vertical-align: top;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.price {
    font-size: 1.1rem;
    color: #e74c3c;
}

.carrito {
    display: block;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.carrito:hover {
    background-color: #2980b9;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product {
    cursor: pointer;
}

.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px;
    top: 50px;
    right: 250px;
    position: absolute;
    display: none;
}

.sumar {
    cursor: pointer;
}
.restar {
    cursor: pointer;
}

#finalizarCompra{
    display: block;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#finalizarCompra:hover {
    background-color: #2980b9;
}

